.NavButton {
  //display: flex;
  //flex-direction: row;
  //color: white;
  //.Icon {
  //  font-size: 40px;
  //}
  //

  margin-bottom: 10px;
  .Label {
    margin-bottom: 2px;

    &:hover {
      cursor: pointer;
    }
  }
}