// @import "../theme/theme";

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  //background-color: #181929;

  height: 100%;
  width: 100%;

  .NavWrapper {
    align-items: center;
    padding: 20px 0 0 20px;
    //display: flex;
    //flex-direction: column;
  }

  .Content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background: green;
    // color: $on-secondary;
    // font-family: $core-font;

    a {
      color: inherit;
    }
  }
}