//@import "~tailwindcss/base";
//@import "~tailwindcss/components";
//@import "~tailwindcss/utilities";

$primary-color: #482ff7;
$secondary-color: #fc5c9c;

.example {
  background-color: $primary-color;
}