@media (min-width: 574px) {
  .col-sm-2 {
    width: 11%;
  }
}

.layout {
  padding-top: 40px;
  .nav-menu-wrapper {
    padding-left: 30px;
  }
}

.home-page {
  table {

  }

}

a {
  text-decoration: none; /* no underline */
}

.reset {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 1px 5px 16px -3px rgba(44,55,77,0.64);
  -webkit-box-shadow: 1px 5px 16px -3px rgba(44,55,77,0.64);
  -moz-box-shadow: 1px 5px 16px -3px rgba(44,55,77,0.64);
  width: 50%;
  padding: 50px;
}

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 1px 5px 16px -3px rgba(44,55,77,0.64);
  -webkit-box-shadow: 1px 5px 16px -3px rgba(44,55,77,0.64);
  -moz-box-shadow: 1px 5px 16px -3px rgba(44,55,77,0.64);
  width: 50%;
  padding: 50px;

  .register {
    .action-buttons {
      justify-content: flex-end;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;

    button {
      border: 1px solid #43BA7F;
      background-color: #43BA7F;
      padding: 5px 15px 5px 15px;
      border-radius: 4px;
      color: white;
    }

    a {
      align-self: center;
    }
  }

  input[type=text]{
    width: 300px;
  }

  input[type=password]{
    width: 300px;
  }
}
.register {

}
.form-group {
  margin-top: 15px;

  input {
    margin-top: 8px;
  }

  input[type=submit]{
    width: 180px;
    margin-top: 10px;
    height: 2.5em;
    padding: 0.2em 2em 0.2em 2.25em;
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans";
    color: #696666;
    background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.75em 0.07em transparent;
    background-size: 24px 80px;
    border-radius: 1em;
    border: 0.15em solid #F9C23C;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  input[type="submit"]:hover {
    color: #fff;
    background-color: #EAA502;
    border-color: #EAA502;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  input[type="submit"]:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  /* Webfonts */

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  }
}
