.error {
  color: #2C374D;
  margin-top: 50px;

  .home-button {
    color: #2C374D;
    border: 2px solid #43BA7F;
    background-color: white;
    padding: 8px 18px 8px 18px;
    border-radius: 2px;
  }
}
