.footer {
  margin-top: 25px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;

  .footer-menu {
    .menu {
      color: #2C374D;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  .footer-section-img-wrapper {
    position: relative;
  }

  .footer-img {
    width: 77px;
    height: 30px;
    display: flex;
  }

  .social-links {
  }

  .copyright {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    .img {
      position: absolute;
    }
  }

  .social-links {
    position: relative;
    width: 24px;
    height: 24px;
    .img {
      //position: relative;
    }
  }
}
