html,
body {
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.paginate-wrap {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 100%;
  flex-wrap: wrap;
}
body.light .paginate-wrap {
  background: #fafafa;
}
.paginate-wrap .paginate-a,
.paginate-wrap .paginate-next-a,
.paginate-wrap .paginate-prev-a,
.paginate-wrap .paginate-break-a {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
}
.paginate-wrap .paginate-a:focus,
.paginate-wrap .paginate-next-a:focus,
.paginate-wrap .paginate-prev-a:focus,
.paginate-wrap .paginate-break-a:focus {
  outline: 0;
}
.paginate-wrap .paginate-a:hover,
.paginate-wrap .paginate-next-a:hover,
.paginate-wrap .paginate-prev-a:hover,
.paginate-wrap .paginate-break-a:hover {
  background: #745788;
  background: #d9c5e6;
}
.paginate-wrap .paginate-li {
  margin: 0 0.2rem;
}
.paginate-wrap .paginate-next-a,
.paginate-wrap .paginate-prev-a {
  color: #745788;
  margin: 0 0.3rem;
}
.paginate-wrap .paginate-active {
  border: 2px solid #d9c5e6;
  background: #d9c5e6;
}
.paginate-wrap .paginate-disabled > a {
  cursor: not-allowed;
  background: transparent;
  color: #666;
}
body.light .paginate-wrap .paginate-disabled > a {
  color: #ccc;
}
.paginate-wrap .paginate-disabled > a:hover {
  background: transparent !important;
}
