.layout {
  .hamburger-button-wrapper {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;


    button {
      font-size: 18px;
    }
  }

  .hamburger-menu {
    .icon {
      margin-right: 7px;
    }

    .menu {
      //width: 100px;
      //text-align: left;
      //align-items: center;
    }
  }
}
