$purple-color: #745788;
$purple-color-lighter: #d9c5e6;
.user {
  padding: 1rem;
}
.user-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .user {
    padding: 2rem;
    margin: 1rem;
    background: #ccc;
  }
}
// Pagination styling
.paginate-wrap {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  max-width: 100%;
  flex-wrap: wrap;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  justify-content: flex-end;

  ul {
    list-style-type: none;
  }
  body.light & {
    background: #fafafa;
  }
  .paginate-a,
  .paginate-next-a,
  .paginate-prev-a,
  .paginate-break-a {
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    &:focus {
      outline: 0;
    }
    color: #2d4848;
    &:hover {
      color: #009879;
    }
  }
  .paginate-li {
    margin: 0 0.2rem;
  }
  .paginate-next-a,
  .paginate-prev-a {
    color: #009879;
    margin: 0 0.3rem;
  }
  .paginate-active {
    border: 2px solid #009879;
    background: #009879;
    border-radius: 5px;

     a {
       color: white;

       &:hover {
         color: white;
       }
     }
  }
  .paginate-disabled > a {
    cursor: not-allowed;
    background: transparent;
    color: #666;
    body.light & {
      color: #ccc;
    }
    &:hover {
      background: transparent !important;
    }
  }
}

.link-list {
  .click {
    text-align: center;
  }
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  //font-weight: bold;

  .link {
    &:hover {
      cursor: pointer;
    }
  }
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  //font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table > tbody > tr:hover {
  color: #009879;
  background-color: #f3f3f3;

  a {
    color: #009879;
  }
}
